/*@import "../sass1/helpers/mixins";*/
$direction: rtl;
$home_color: #0b6f6b;
$color_orng:#fed180;
$color_brouwn:#492B31;
$color_black:#000;
$floatLeft :left;
$floatRight: right;
$tajwal-font:'Tajawal','sans-serif';
$aboutus-bg:"assets\imgs\vidoe.png";
$fadeYellowColor:#F9D56E;
$fadeGreenColor:#B6C134;
$orangeColor: #FC573B;
$darkGray:#525252;
$whiteColor: #fff;
$purbleColor:#BE63F9;
$grayColor: #888686;
$favorites_color:#E8505B;
$bk_section:#ffffffcc;
/*start- class color*/

.color_home{
    color:$home_color ;
}
.color_orng{
    color:$color_orng ;
}
.color-black{
    color: $color_black;
 }
input:focus{
    outline: none;
    box-shadow : none !important;
}
.bk-orng{
    background-color:$color_orng ;
}
.text-brouwn{
    color:$color_brouwn;
}
.text-gr{
    color: #7B7B7B;
}
.bk_home{
    background-color: $home_color;
}
.bk_orng{
    background-color: $color_orng;
}

.bk-fav{
    background-color: $favorites_color;
}
.text-fav{
  color: $favorites_color;
}
.text-color-stage{
    color: #063332 ;
}

/*end- class color*/


/*start- size-font*/
.size-20{
    font-size:20px ;
    font-weight: normal!important;
}
.size-11{
    font-size:11px ;
    font-weight: normal!important;
}
.size-12{
    font-size:12px ;
    font-weight: normal!important;
}
.size-13{
    font-size:13px ;
    font-weight: normal!important;
}
.size-14{
    font-size:14px ;
    font-weight: normal!important;
}
.size-15{
    font-size:15px ;
    font-weight: normal!important;
}
.size-24{
    font-size:24px ;
    font-weight: normal!important;
    @media (max-width: 767px) {
        font-size:16px ;
    }
}
.size-16{
    font-size:16px ;
    font-weight: normal!important;
    @media (max-width: 767px) {
        font-size:12px ;
    }
}
.size-18{
    font-size:18px ;
    font-weight: normal!important;
    @media (max-width: 767px) {
        font-size:16px ;
    }
}
.size-26{
    font-size:26px ;
    font-weight: normal!important;
}
.size-55{
    font-size:55px ;
    font-weight: normal!important;
}
/*end- size-font*/

/*start-class height*/
.h-22px{
    height: 22px;
}
.h-70px{
    height: 70px;
}
.h-100px{
    height: 100px;
}
.h-170px{
    height: 170px;
}
.h-250px{
    height:250px;
}
.h-480px{
    height:480px;
}
/*start-class height*/

/*start-class  border-radius*/
.border-57{
    border-radius: 57px;
}
.border-20{
    border-radius: 20px;
}
.border-tr-15{
    border-radius: 15px 15px 0px 0px;
}
.border-lr-15{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/*start-class  border-radius*/

.title_bb{
background-color: #14b1ab; color: white !important; border-radius: 0px 0px 15px 15px; position: relative; top: -33px;
}


